// .title {
//   margin: 30px;
//   font-size: 35px;
//   font-weight: 700;
//   color: olive;
// }

.btn {
  margin: 20px;
  font-size: 25px;
  font-weight: 500;
  border: solid 2px olive;
  border-radius: 10px;
  color: olive;
  text-transform: capitalize;
}
